@font-face {
    font-family: 'venose';
    src: url('/Venose.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg:#e2e3d24e;
    --link-bg:#e2e2dc;
    --overlay-bg:#000000;
}
html,body{
    width: 100vw;
    height: 100vh;
    background-color: var(--bg);
    overflow: hidden;
    font-family:venose;
    scroll-behavior: smooth;
}
h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-transform: uppercase;
    font-size: 10vw;
    font-weight: 400;
    z-index: 0;
    text-align: center;
}
.overlay{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 0;
}
svg path{
    fill: var(--overlay-bg);
}
#toggle-btn{
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
    z-index: 2;
    cursor: pointer;
}
.btn-outline{
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid var(--overlay-bg);
}
.btn-outline1{
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    animation: round 4s linear infinite;
}
.btn-outline2{
    border-radius: 53% 47% 43% 57% / 51% 39% 61% 49%;
}
@keyframes round {
    0%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}
.hamburger{
    position: relative;
    width: 25px;
    height: 2px;
    z-index: 2;
}
.hamburger span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 24px;
    height: 1.26px;
    transition: transform 0.25s;
    background-color: var(--overlay-bg);
}
.hamburger span::before{
    content: "";
    position: absolute;
    right: 0;
    display: inline-block;
    width: 19px;
    height: 1.26px;
    background-color: var(--overlay-bg);
    transform: translateY(-4px);
    transition: transform 0.25s;
}
.hamburger .active span{
    transform: rotate(45deg);
}
.hamburger .active span::before{
    top: unset;
    width: 24px;
    transform: rotate(-90deg);
}
.menu{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
}
.menu > div{
    height: 100%;
    display: flex;
}
.menu a{
    position: relative;
    top: 120px;
    line-height: 70%;
    text-decoration: none;
    color: var(--link-bg);
}
.menu a span{
    font-size: 20px;
    margin-right: 2em;
    font-family: venose;
}
.menu-item{
    position: relative;
}
.menu-item:after{
    position: absolute;
    content: "";
    top: 100px;
    left: -20px;
    width: 120%;
    height: 200%;
    /* background-color: var(--overlay-bg); */
    color: red;
    margin: 0 auto;
}
.menu-container{
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.primary-menu{
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.primary-menu .menu-container .wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.primary-menu a{
    text-transform: uppercase;
    font-size: 5vw;
    font-weight: 999;
}
.secondary-menu{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8em;
}
.secondary-menu .menu-item a{
    font-family: venose;
    font-size: 38px;
}
.secondary-menu .menu-container .wrapper:nth-child(1){
    display: flex;
    flex-direction: column;
    gap: 30px;
}
/* .primary-menu .menu-container .wrapper .menu-item:nth-child(1) a,
.primary-menu .menu-container .wrapper .menu-item:nth-child(3) a{
    margin-left: 1em;
} */
.secondary-menu .wrapper{
    margin-left: 6rem;
}
